@model IEnumerable<LifestyleBeta.Models.View_ArticleLikes>

<div class="panel panel-default" style="border-color:#ef4130;">
    <div class="panel-heading" style="font-size:16px; font-weight:bold; background-color:#ef4130;color:#fff;">
        My Article Likes
    </div>
    <div class="panel-body" style="padding:2px;">

        @foreach (var item in Model)
        {
            <div class="col-md-12 col-xs-12" style="margin:0px 0px 5px 0px; padding:2px; border-bottom:1px solid #e0dede;" id="divMyArticleLikes">
                <div class="col-md-3 col-xs-3" style="margin:0px; padding:0px 5px 0px;">
                    @if (item.CoverImage != null && item.CoverImage != "")
                    {
                    <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId })>
                        <img class="img-responsive" style="width:80px; height:60px;" src="@Url.Content(item.CoverImage)" onerror="this.src='@Url.Content("~/images/ghostimg.png")';" />
                    </a>
                    }
                    else
                    {
                        <img class="img-responsive" src="@Url.Content("~/images/ghostimg.png")" />
                    }
                </div>
                <div class="col-md-9 col-xs-9">
                    <p style="font-size:12px; font-weight:600; line-height:15px;margin-bottom:3px;">
                        <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId }) style="color:dodgerblue"> @item.Title</a>
                    </p>
                    <ul class="post-tags">
                       
                        <li style="font-size:11px;">
                            <i class="fa fa-eye"></i>@item.Views &nbsp;
                            <i class="fa fa-heart"></i>@item.Likes &nbsp;&nbsp;
                            @*<i class="fa fa-comments"></i>@item.Comments &nbsp;&nbsp;
                            <i class="fa fa-calendar"></i>@string.Format("{0:d MMM yyyy}", item.Created)<br />*@
                        
                            @if (item.ProfileImage != null && item.ProfileImage != "")
                            {
                                <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                                    <img style="width:40px;height:40px;border:1px solid #ececec" src="@Url.Content(item.ProfileImage)" class="img-circle" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                                    <img style="width:40px;height:40px;border:1px solid #ececec" src="@Url.Content("~/images/user.png")" class="img-circle"/>
                                </a>

                            }
                        </li>

                    </ul>
                   
                </div>
            </div>
        }

        <div class="table-responsive" id="tblMyArticleLikes">
            <table class="table table-striped table-condensed" style="font-family:Arial;font-size:12px;">
                <tr>
                    <th>
                        Cover Image
                    </th>

                    <th>
                        Article Info
                    </th>
                    <th>
                        User
                    </th>


                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.CoverImage != null && item.CoverImage != "")
                            {
                                <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId })>
                                    <img style="width:100px;height:60px;border:1px solid #ececec" src="@Url.Content(item.CoverImage)" />
                                </a>
                            }
                            else
                            {
                                <img style="width:100px;height:60px;border:1px solid #ececec" src="@Url.Content("~/images/ghostimg.png")" />

                            }
                        </td>

                        <td>
                            <b>
                                <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId }) style="color:dodgerblue">
                                    @item.Title
                                </a>
                            </b>
                            <br /><br />
                            <ul class="post-tags">
                                <li><sapn class="badge @item.Description" style="color:white;">@item.CategoryName</sapn></li>
                                @*
                                <li><a href="@Url.Action("Author", "Home" , new { UserId=item.UserId })"><i class="fa fa-user"></i>by @item.Author</a></li>*@
                                <li><i class="fa fa-user"></i>by @item.Author</li>

                                <li><i class="fa fa-clock-o"></i>@(item.Created != null ? String.Format("{0:MM/dd/yyyy}", item.Created) : " ") </li>
                                <li><i class="fa fa-eye"></i>@item.Views</li>
                                <li><i class="fa fa-thumbs-up"></i>@item.Likes</li>
                                <li><i class="fa fa-comments-o"></i><span>0</span></li>

                            </ul>
                        </td>

                        <td>
                            @if (item.ProfileImage != null && item.ProfileImage != "")
                            {
                                <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                                    <img style="width:80px;height:60px;border:1px solid #ececec" src="@Url.Content(item.ProfileImage)" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                                    <img style="width:80px;height:60px;border:1px solid #ececec" src="@Url.Content("~/images/user.png")" />
                                </a>

                            }
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="panel-footer" style="background-color:#ef4130;"></div>
</div>

