 <!-- navbar list container -->
<div class="nav-list-container" style="border:none; margin-bottom:10px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

                <li>
                    <a class="home" href="@Url.Action("Index")">Home</a>
                </li>

                <li>
                    <a class="motor" href="@Url.Action("Motoring","Home")">Motoring</a>
                </li>

                <li>
                    <a class="sport" href="@Url.Action("Sports","Home")">Sports</a>
                </li>

                <li>
                    <a class="travel" href="@Url.Action("Travel","Home")">Travel</a>
                </li>

                <li>
                    <a class="health" href="@Url.Action("Health","Home")">Health</a>
                </li>

                <li>
                    <a class="tech" href="@Url.Action("Technology","Home")">Technology</a> 
                </li>

                <li>
                <a class="entertainment" href="@Url.Action("Entertainment","Home")">Enteainment</a>
                </li>

                <li>
                <a class="fashion" href="@Url.Action("Fashion","Home")">Fashion &amp; Beauty</a>
                </li>

                <li>
                <a class="animals" href="#">Animals &amp; Nature</a>
                </li>

                <li>
                <a class="education" href="#">Education</a>  
                </li>

                <li>
                <a class="people" href="#">People</a>  
                </li>

                <li>
                <a class="finance active" href="#">Finace</a> 
                </li>

                <li>
                <a class="food" href="#">Food</a>
                </li>

                <li>
                <a class="whatsOn" href="#">What's On</a>
                </li>

                <li>
                <a class="photo" href="#">Photorgraphy</a>
                </li>

                <li>
                <a class="property" href="#">Property</a>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>
<!-- End navbar list container -->
