<br style="clear:both" />

<div class="panel panel-default" style="border-color:navy;" id="mbAllUsers">
    <div class="panel-heading" style="font-size:14px; font-weight:bold;background-color:navy;color:#fff;">
        Published Articles
    </div>
    <div class="panel-body" style="padding:0px;">

        @foreach (var item in ViewBag.AllUsers)
        {
            <div class="col-md-12 col-xs-12" style="margin:0px 0px 5px 0px; padding:2px; border-bottom:1px solid navy;">
                <div class="col-md-3 col-xs-3 text-center" style="margin:0px; padding:0px;">

                    @if (item.ProfileImage != null && item.ProfileImage != "")
                    {
                        <img style="width:50px;height:50px;margin-top:5px;" class="img-responsive img-circle" src="@Url.Content(item.ProfileImage)" onerror="this.src='@Url.Content("~/images/ghostimg.png")';" />
                    }
                    else
                    {
                        <img style="width:50px;height:50px;margin:5px 0px;" class="img-responsive img-circle" src="@Url.Content("~/images/ghostimg.png")" />
                    }
                </div>
                <div class="col-md-9 col-xs-9" style="margin:0px; padding:0px;">
                   
                    <ul class="post-tags">
                        <li>
                            <a href="@Url.Content("~/Home/Author?UserId="+item.UserId)">@item.FullName</a>
                        </li>
                        <li style="font-size:11px;">
                            <i class="fa fa-envelope"></i><a href="mailto:@item.Email">@item.Email</a> &nbsp;&nbsp;
                            <i class="fa fa-mobile"></i>@item.Mobile &nbsp;&nbsp;
                            <i class="fa fa-user"  aria-hidden="true"></i>@item.Gender &nbsp;&nbsp;
                        <i class="fa fa-globe" aria-hidden="true"></i>@item.tblCountry.Name
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer" style="background-color:navy;"></div>
</div>

<div class="alert alert-success">
    <h4>Total Active Users: <b>@ViewBag.AllUsers.Count</b></h4>
</div>

                                                           <div style="border:1px solid #b0aeae;padding:10px">
                                                               <table class="display" style="font-family:Arial;font-size:12px;" id="tblAllUsers">
                                                                   <thead>
                                                                       <tr>
                                                                           <th></th>
                                                                           <th>
                                                                               Full name
                                                                           </th>

                                                                           <th>
                                                                               Email
                                                                           </th>
                                                                           <th>
                                                                               Mobile
                                                                           </th>
                                                                           <th>
                                                                               Gender
                                                                           </th>
                                                                           <th>
                                                                               Country
                                                                           </th>
                                                                       </tr>
                                                                   </thead>
                                                                   <tbody>
                                                                       @foreach (var item in ViewBag.AllUsers)
                                                                       {

                                                                           <tr>
                                                                               <td>
                                                                                   @if (item.ProfileImage != null && item.ProfileImage != "")
                                                                                   {

                                                                                       <img style="width:50px;height:30px;border:1px solid #ececec" src="@Url.Content(item.ProfileImage)" onerror="this.src='@Url.Content("~/images/ghostimg.png")';" />

                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       <img style="width:50px;height:30px;border:1px solid #ececec" src="@Url.Content("~/images/ghostimg.png")" />

                                                                                   }
                                                                               </td>
                                                                               <td><a href="@Url.Content("~/Home/Author?UserId="+item.UserId)">@item.FullName</a></td>
                                                                               <td><a href="mailto:@item.Email">@item.Email</a></td>
                                                                               <td>@item.Mobile</td>
                                                                               <td>@item.Gender</td>
                                                                               <td>@item.tblCountry.Name</td>

                                                                           </tr>
                                                                       }
                                                                   </tbody>
                                                               </table>
                                                           </div>
<script>
    
    $(document).ready(function () {
        $("#tblAllUsers").DataTable();
    })
</script>