@model IEnumerable<LifestyleBeta.Models.View_SaveLikeArticle>

<div class="panel panel-default" style="border-color:#913935;margin-top:50px;border-radius:0px;">
    <div class="panel-heading" style="font-size: 16px; font-weight: bold; background-color: #913935; color: #fff;border-radius:0px; ">
        Articles I’ve Liked
    </div>
    <div class="panel-body" style="padding:2px;">
        @foreach (var item in Model)
        {
        <div class="col-md-12 col-xs-12" style="margin:0px 0px 5px 0px; padding:2px; border-bottom:1px solid #e0dede;" id="divMyLikedArticles">
            <div class="col-md-3 col-xs-2" style="margin:0px; padding:0px; padding-right:5px;text-align:center">
                @if (item.CoverImage != null && item.CoverImage != "")
                {
                    <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId })>
                        <img class="img-responsive" style="width:60px; height:40px; margin-bottom:3px;border-radius:4px;" src="@Url.Content(item.CoverImage)?@DateTime.Now" onerror="this.src='@Url.Content("~/images/ghostimg.png")';" />
                    </a>
                }
                else
                {
                    <img class="img-responsive" style="width:60px; height:40px; margin-bottom:3px;border-radius:4px;" src="@Url.Content("~/images/ghostimg.png")?@DateTime.Now" />
                }

                @if (item.ProfileImage != null && item.ProfileImage != "")
                {
                    <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                        <img style="width:30px;height:30px;" class="img-circle" src="@Url.Content(item.ProfileImage)" />
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Author", "Home" , new { UserId=item.ProfileId })">
                        <img style="        width: 30px;
        height: 30px;" class="img-circle" src="@Url.Content("~/images/user.png")" />
                    </a>
                }

            </div>
            <div class="col-md-9 col-xs-9" style="margin:0px; padding:0px;">
                <p style="font-size:12px; font-weight:600; line-height:15px;margin-bottom:3px;">
                    <a href=@Url.Action("ArticleDetail","Home",new { ArticleId=item.ArticleId, category=item.CategoryId }) style="        color: #000000;
"> @item.Title</a>
                    @*<span class="pull-right"> <i class="fa fa-times-circle" onclick="DeleteSavedArticle(@item.SaveLikeId,'Like')" style="cursor:pointer;font-size:16px;"></i></span>*@
                </p>
                <ul class="post-tags">

                    <li><a href="@Url.Action("Author", "Home" , new { UserId=item.UserId })" style="color:#5c5a5a;">@item.FullName</a><br style="clear:both;" /> </li>
                    <li><sapn class="badge @item.Description" style="color:white;">@item.CategoryName</sapn></li>

                    <li style="font-size:11px;">
                        <i class="fa fa-eye"></i>
                        @item.Views &nbsp;
                        <i class="fa fa-heart"></i>
                        @item.Likes &nbsp;&nbsp;
                        <i class="fa fa-comments"></i>
                        @item.Comments &nbsp;&nbsp;&nbsp;&nbsp;

                    </li>
                </ul>
            </div>

            <div class="col-xs-1" style="padding:0px; margin-top:20px; ">
                <span class="pull-right" style="margin-right:10px;">
                    <i class="fa fa-trash fa-lg" style="cursor:pointer;color:#de1a22;" onclick="DeleteSavedArticle(@item.SaveLikeId,'Like')"></i>
                </span>
            </div>

        </div>
        }

        
    </div>
    <div class="panel-footer" style="background-color:#913935;"></div>
</div>



<script>
        function DeleteSavedArticle(savelikeId, type) {

        var url = '';
        if (type == 'Save') {
            url = "@Url.Content("~/Article/MySavedArticles/")";
        }
        else
        {
            url = "@Url.Content("~/Article/MyLikedArtciles/")";
        }


        if (confirm("Are you sure to delete?")) {
                $.ajax({
                    url: "@Url.Content("~/DeleteSavedArticle/")" + savelikeId,
                    success: function (data) {
                        //$("#divPartial").load(url);
                        window.location.reload();
                    },
                    error: function () {
                        alert("Unable to delete article!");
                    }
                });
        }
    }


</script>