

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <!-- block content -->
                <div class="block-content">




                    <!-- grid box -->
                    <div class="grid-box">
                        <div class="title-section">
                            <h1><span>Author Details - </span></h1>
                        </div>

                        <ul class="autor-list">

                            <li>

                                <div class="autor-box" style="background-color:#ffffff;">

                                    <img src=@Url.Content("~/images/upload/users/avatar7.jpg") alt="">

                                    <div class="autor-content">

                                        <div class="autor-title">
                                            <h1><span>@ViewBag.Author</span><a href="#">22 Posts</a></h1>
                                            @*<ul class="autor-social">
                                                    <li><a href="#" class="facebook"><i class="fa fa-facebook" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="google"><i class="fa fa-google-plus" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="youtube"><i class="fa fa-youtube" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:26px;"></i></a></li>
                                                    <li><a href="#" class="dribble"><i class="fa fa-dribbble" style="font-size:26px;"></i></a></li>
                                                </ul>*@
                                        </div>

                                        <p>
                                            Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada.
                                        </p>

                                    </div>

                                </div>

                                <div class="autor-last-line">
                                    <ul class="autor-tags">
                                        <li><span><i class="fa fa-bars"></i>Category</span></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Politics</a></li>
                                        <li><a href="#">Sport</a></li>
                                    </ul>
                                    @*<a href="#" class="autor-site">http://www.janesmith.com</a>*@
                                </div>

                            </li>

                        </ul>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/vimages/m5.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post fashion" href="#">fashion</a>
                                                <h2><a href="#">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>*@
                                        <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/vimages/s5.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post world" href="#">Business</a>
                                                <h2><a href="#">Suspendisse urna nibh, viverra non, semper suscipit, posuere a.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. <a href="#">Nullam mollis.</a> Ut justo. Suspendisse potenti.</p>*@
                                        <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/vimages/f5.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post tech" href="#">tech</a>
                                                <h2><a href="#">Donec nec justo eget felis facilisis fermentum. </a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.</p>*@
                                        <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/vimages/t5.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post fashion" href="#">fashion</a>
                                                <h2><a href="#">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>*@
                                        <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- article box -->
                        <div class="article-box">

                            <div class="title-section">
                                <h1><span>Latest Articles</span></h1>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/vimages/m5.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="#">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/vimages/h5.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="#">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/vimages/h1.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="#">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/vimages/m4.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="#">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="#" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End article box -->
                        <!-- pagination box -->
                        <div class="pagination-box">
                            <ul class="pagination-list">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                            <p>Page 1 of 9</p>
                        </div>
                        <!-- End Pagination box -->

                        <div class="center-button">
                            <a href="#"><i class="fa fa-refresh"></i> Show me more</a>
                        </div>

                    </div>
                    <!-- End grid box -->

                </div>
                <!-- End block content -->

            </div>



            @*@Html.Partial("SidebarAuthorDetail")*@

            <div class="col-sm-4">

                <!-- sidebar -->
                <div class="sidebar">


                    <div class="widget features-slide-widget">

                        <img src=@Url.Content("~/images/upload/news-posts/gdn.jpg") alt="">
                    </div>




                    @*<div class="widget post-widget">
                                <div class="title-section">
                                    <h1><span>Featured Video</span></h1>
                                </div>
                                <div class="news-post video-post">
                                    @{
                                foreach (var article in ViewBag.Article)
                                {

                                    <img alt="" src=@Url.Content(article.CoverImage)>
                                    <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                                    <div class="hover-box">
                                        <h2><a href=@Url.Action("MotoringDetail","Home")>@article.Title</a></h2>
                                        <ul class="post-tags">
                                        </ul>
                                    </div>
                        }
                                    }

                                </div>
                            </div>*@





                    <div class="widget features-slide-widget">

                        <img src=@Url.Content("~/images/upload/news-posts/abc.jpg") alt="">
                    </div>

                    <div class="widget tab-posts-widget">

                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#option1" data-toggle="tab">Popular</a>
                            </li>
                            <li>
                                <a href="#option2" data-toggle="tab">Recent</a>
                            </li>
                            <li>
                                <a href="#option3" data-toggle="tab">Top Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="option1">
                                <ul class="list-posts">
                                    @{
                                        foreach (var popluar in ViewBag.Popular)
                                        {
                                            <li>
                                                @*<img src=@Url.Content(popluar.CoverImage) alt="">*@
                                                @if (popluar.CoverImage != null && popluar.CoverImage != "")
                                                {
                                                    <img src=@Url.Content(popluar.CoverImage) />
                                                }
                                                <div class="post-content">
                                                    <h2><a href=@Url.Action("MotoringDetail","Home")>@popluar.Title</a></h2>
                                                    <ul class="post-tags">
                                                        <li>@popluar.CategoryName -  <i class="fa fa-clock-o"></i>@string.Format("{0:MMMM d, yyyy}", popluar.Created)</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                            <div class="tab-pane" id="option2">
                                <ul class="list-posts">
                                    @{
                                        foreach (var recent in ViewBag.Recent)
                                        {
                                            <li>
                                                <img src=@Url.Content(recent.CoverImage) alt="">
                                                <div class="post-content">
                                                    <h2><a href=@Url.Action("MotoringDetail","Home")>@recent.Title</a></h2>
                                                    <ul class="post-tags">
                                                        <li>@recent.CategoryName -  <i class="fa fa-clock-o"></i>@string.Format("{0:MMMM d, yyyy}", recent.Created)</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                            <div class="tab-pane" id="option3">
                                <ul class="list-posts">
                                    @{
                                        foreach (var reviews in ViewBag.Reviews)
                                        {
                                            <li>
                                                <img src=@Url.Content(reviews.CoverImage) alt="">
                                                <div class="post-content">
                                                    <h2><a href=@Url.Action("MotoringDetail","Home")>@reviews.Title</a></h2>
                                                    <ul class="post-tags">
                                                        <li>@reviews.CategoryName -  <i class="fa fa-clock-o"></i>@string.Format("{0:MMMM d, yyyy}", reviews.Created)</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="widget categories-widget">
                        <div class="title-section">
                            <h1><span>Hot Categories</span></h1>
                        </div>
                        <ul class="category-list">

                            @{
                                foreach (var category in ViewBag.HotCategories)
                                {
                                    <li>
                                        <a href="#">@category.CategoryName <span>@category.ArticleCount</span></a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>

                    <div class="widget subscribe-widget">
                        <form class="subscribe-form">
                            <h1>Subscribe to RSS Feeds</h1>
                            <input type="text" name="sumbscribe" id="subscribe" placeholder="Email" />
                            <button id="submit-subscribe">
                                <i class="fa fa-arrow-circle-right"></i>
                            </button>
                            <p>Get all latest content delivered to your email a few times a month.</p>
                        </form>
                    </div>

                    <div class="widget tags-widget">

                        <div class="title-section">
                            <h1><span>Popular Tags</span></h1>
                        </div>

                        <ul class="tag-list">
                            @{
                                foreach (var category in ViewBag.HotCategories)
                                {
                                    <li><a href="#">@category.CategoryName</a></li>
                                }
                            }
                        </ul>

                    </div>

                    <div class="advertisement">
                        <div class="desktop-advert">
                            <span>Advertisement</span>
                            <img src=@Url.Content("~/images/upload/news-posts/abc.jpg") alt="">
                        </div>
                        <div class="tablet-advert">
                            <span>Advertisement</span>
                            <img src=@Url.Content("~/images/upload/addsense/200x200.jpg") alt="">
                        </div>
                        <div class="mobile-advert">
                            <span>Advertisement</span>
                            <img src=@Url.Content("~/images/upload/addsense/300x250.jpg") alt="">
                        </div>
                    </div>

                </div>
                <!-- End sidebar -->

            </div>

        </div>

    </div>
</section>
